body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-image: url('C:/task/taskfile/src/assets/vecteezy_abstract-blur-background-with-pastel-color_7188892.jpg');
}